<div class="container-fluid m-0 p-0">
    <app-header></app-header>
<div class="content">
    <div class="container">
        <h1 class="text-left">
            Listening is
        </h1> 
        <h1 class="text-right">
            everything
        </h1>
        <p class="mt-5"> Millions of songs and podcasts. No credit card needed.</p>

        <button mat-flat-button [routerLink]="['/signup']">
            GET SPOTIFY FREE
        </button>
    </div>
    
</div>
    <app-footer></app-footer>
</div>