.header{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    color: white;
    padding: 20px 0px;
    z-index: 10999;

}
.logo{
    .logo-img{
        img{
            height: 40px;
            margin-right: 5px;
        }
    }
    .logo-name{
        .copy{
            font-size: xx-large;
        }
    }

}
.option{
    gap: 30px;
    div{
        cursor: pointer;
    &:hover{
        text-decoration: underline;
        color: rgb(228, 217, 217);
    }
}
}

