<div class="main">
    <div class="bg-img">
        <img src="https://www.scdn.co/i/free/bubbles-dktp.svg" alt="">
    </div>
    <div class="container d-flex cont">
        <div class="img">
            <img src="assets/img/mbl2.png" alt="">
        </div>
        <div class="hbtn">
            <h1>
                Play millions of songs and podcast, for free.
            </h1>
            <button matRipple>
                GET SPOTIFY FREE
            </button>
        </div>
    </div>
</div>
