<div class="sctn2 container">
    <h1 class="h1">
        Got Questions ?
    </h1>

    <div class="expand"> 
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How do I create a playlist?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Playlist are greater way to save collections of music, rither for your own listning or to share.</p>
    
                <p>To create one:</p>
                <ol type="1">
                    <li>Tap your Library.</li>
                    <li>Tap CREATE.</li>
                    <li>Give your playlist a name.</li>
                    <li>Start adding songs (and we'll help you along)</li>
                </ol>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How do I create a playlist?
                    </mat-panel-title>
                </mat-expansion-panel-header>
               <ol type="1">
                   <li>Tap HOME.</li>
                   <li>Tap Settings.</li>
                   <li>Tap Data Saver.</li>
                   <li>Switch on Data Saver.</li>
               </ol>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Is it only possible to shuffle play music?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Any playlist with the shuffle icon will play on shuffle.</p>
    
                <p>Some playlist wont have shuffle icon so you can tap any song to play it.</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        where can I find Podcasts?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Tap Search Q . Under Browser All, tap Podcasts.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>