<div class="sctn2 container">
    <h1 class="h1">
        Got Questions ?
    </h1>

    <div> 
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What is spotify?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>cjylubnbvnbvjkhjkn vjguhjn.</p>
    
                <p>fytliugbnvy gfuituhgb vhgluu</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>