.logo{
    text-align: center;
    img{
        margin-top: 20px;
        height: 70px;
    }
}

.gray{
    color: rgb(214, 214, 214);
}

.mff-width{
    width: 350px;
}
.container{
    width: fit-content;
    padding: 20px 50px;
    text-align: center;
    .heading{
        font-weight: bold;
    }
    .btn{
        button{
            width: 350px;
            height: 45px;
            border-radius: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            img{
                margin-right: 5px;
                height: 20px;
            }
        }

    }

    .facebook-btn{
        background-color: #3b5998;
        color: white;
        border: none;
    }
    .apple-btn{
        background-color: black;
        color: white;
        border: none;

    }
    .google-btn{
        border: 2px solid gray;
        color: grey;
        background-color: white;
    }
    .phn-btn{
        border: 2px solid grey;
        color: grey;
        background-color: white;
    }
}

.frgt-pass{
    text-decoration: underline;
    font-weight: 500;
    color: grey;
}

.btn-login{
    width: 150px;
    height: 40px;
    background-color: green;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}

.signup-btn{
    width: 350px;
    height: 45px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;  
    border: 2px solid grey;
    color: grey;
    background-color: white;
}