<div class="container-fluid">
    <div class="row top">
        <div class="col-2 left">
            <div>
                <mat-icon>more_horiz</mat-icon>
                <span class="material-icons">
                    home
                    </span>

                    <span class="material-icons">
                        search
                        </span>
                        <span class="material-icons">
                            add_box
                            </span>
                            <span class="material-icons">
                                favorite
                                </span><span class="material-icons">
                                    video_library
                                    </span>
            </div>
        </div>
        <div class="col-7 mid">

        </div>
        <div class="col-3 right">
            <h2>
                Friends activity
            </h2>

            <h3>
                Connect with facebook to see what your friends are playing.
            </h3>

            <div class="btn">
                <button mat-flat-button class="facebook-btn">
                    <img src="assets/img/fb2.webp" alt="">
                    CONTINUE WITH FACEBOOK
                </button>
            </div>

            <p>
                We'll never post anything without your permission. Show and hide Friend Activity from Settings.
            </p>
        </div>
    </div>
    <div class="row bottom">

    </div>
</div>