<div class="playsong">

    <div class="img d-flex">
        <div>
            <img src="assets/img/song1.png" alt="">
        </div>
        <div>
            <p class="p1">
                PODCAST
            </p>
            <p class="p2">
                Lorem ipsum, dolor sit adipisicing elit.
            </p>
            <p class="p3">
                BIGFM
            </p>
        </div>
    </div>

    <div class="content">
        <div class="d-flex align-items-center">
            <button mat-mini-fab class="play-btn">
                <mat-icon> play_arrow</mat-icon>
            </button>
            <button mat-flat-button class="follow-btn">
                FOLLOW
            </button>
            <mat-icon>
                more_horiz
            </mat-icon>
        </div>
    </div>
</div>